aiogram~=3.10.0

sqlalchemy~=2.0.30
aiosqlite~=0.20.0
alembic~=1.13.1

# Работа с данными и Excel
pandas~=2.2.2
openpyxl~=3.1.2
reportlab

# Генерация PDF (поддержка таблиц и кириллицы)
fpdf2~=2.7.9

# Хранилище состояний (FSM) и кэш
redis~=5.0.4

# Конфигурация и окружение (как в FastAPI)
pydantic-settings~=2.2.1
python-dotenv~=1.0.1

# Вспомогательные утилиты
tzdata  # Для правильной работы со временем в Узбекистане


# psql
asyncpg